body {
    margin: 0;
}

.wrapper-banner {
    position: relative;
    width: 1700px;
    height: 910px;
    padding: 0 102px 61px 101px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper-text-banner {
    width: 631px;
    height: 342px;
    margin: 0 445px 650px 0;
}

.logologin {
    height: 900px;
    margin: 25px;
}

.bersama {
    width: 10px;
    height: 5px;
    margin: 0 84px 0 20px;
    padding: 0 9px 9px 9px;
    font-family: 'Calibri';
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #746d3c;
}

.Rectangle-12 {
    width: 510px;
    /* height: 900px; */
    margin: 25px 0 0 45px;
    padding: 15px 12px 37px 40px;
    border-radius: 12px;
    background-color: #fff;
  }

.astrid-11 {
  width: 500px;
  height: 500px;
  margin: 0 5px 0 0;
  padding: 0 59px 0 0;
  }

  .welcome {
    width: 257px;
    height: 80px;
    margin: 0 0 55px 170px;
    font-family: 'SegoeUI';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #746d3a;
  }

  .form-group1 {
    width : 400px;
    margin-top: 25px;
  }

  .form-group2 {
    width : 400px;
    margin-bottom: 35px;
  }

  #InputUser {
    /* width: 260px; */
    margin: 5px 0 15px 0;
    padding: 16px 300px 15px 11px;
    border-radius: 8px;
    border: solid 1px #707070;
    background-color: #fff;
  }

  #InputPassword {
    /* width: 438px;
    height: 58px; */
    margin: 5px 0 15px 0;
    padding: 16px 300px 15px 11px;
    border-radius: 8px;
    border: solid 1px #707070;
    background-color: #fff;
  }

  .tombol {
    width: 374px;
    height: 50px;
    margin: 54px 15px 0 0;
    padding: 11px 200px 11px 200px;
    border-radius: 8px;
    /* border-color: #0c0b0b;
    border-style:solid; */
    background-color: #faaf16;
    text-decoration: none;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    font-weight: 500;
  }

  .Forgot-Password {
    width: 114px;
    height: 17px;
    margin: 3px 24px 0 323px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.82);
  }

  #sidebar {
    width: 1850px;
    height: 910px;
    padding: 30px 24px 767px 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: flex; */
  }

  .Rectangle-5 {
    width: 390px;
    height: 840px;
    margin: 0 10px 0 0;
    padding: 15px 15px 50px 0;
    border-radius: 24px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }

  .Image-1 {
    position:relative;
    left: 8%;
    width:325px;
    height:100px;
  }

.wrapper-list-menu {
    display: grid;
    list-style: none;
}

.wrapper-list-menu .list-menu {
  position: relative;
  top: 0;
  height: 40px
}

.box-left {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #ea8d16;
}

  .iconsidebar {
    width: 30px;
    height: 24.5px;
    margin: 25px 21.3px 2.2px 0;
    /* border: solid 3px #ea8d16; */
  }

  .linksidebar {
    width: 66px;
    height: 28px;
    margin: 0 0 25px 20px;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #776c61;
    /* padding-bottom: 20px; */
    text-decoration: none;
  }

  .Rectangle-27 {
    width: 314px;
    height: 330px;
    margin: 0 0 24px 17px;
    padding: 21px 0 37px 53px;
    border-radius: 24px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }

  .photo1 {
    width: 150px;
    height: 150px;
    margin: 10px 90px 59px 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 100px;
  }

  .userName {
    width: 277px;
    height: 33px;
    margin: 15px 0 1px 0;
    font-family: 'HelveticaNeue';
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }
  
  .email {
    width: 243px;
    height: 28px;
    margin: 10px 16px 0 13px;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .Rectangle-7 {
    width: 330px;
    height: 0;
    margin: 24px 0 1px 17px;
    padding: 28px 0 464.5px 35.5px;
    border-radius: 24px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
  }

  .My-Recent-Activities {
    width: 208px;
    height: 26px;
    margin: 0 104.5px 5.5px 1.5px;
    opacity: 0.83;
    font-family: 'HelveticaNeue';
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .Path-15 {
    width: 280px;
    height: 0;
    opacity: 0.71;
    border: solid 2px #707070;
  }

  .recent-tgl {
    width: 153px;
    height: 22px;
    margin: 13.5px 160.5px 10px 0.5px;
    font-family: 'HelveticaNeue';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }


  .Release-User {
    width: 229px;
    height: 26px;
    margin: 10px 84.5px 6.5px 0.5px;
    opacity: 0.83;
    font-family: 'HelveticaNeue';
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .Rectangle-26 {
    width: 957px;
    /* height: 173px; */
    margin: 0 19px 52px 19px;
    padding: 20px 35px 35px 33px;
    border-radius: 24px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
  }

  .Rectangle-28 {
    width: 23px;
    height: 173px;
    margin: 0 789px 0 0;
    border-radius: 24px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ea8d16;
  }

  .greatings1 {
    width: 297px;
    height: 81px;
    margin: 0 0 14px 0;
    font-family: 'HelveticaNeue';
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #696969;
  }

  .greating2 {
    width: 645px;
    height: 23px;
    margin: 14px 0 0;
    font-family: 'HelveticaNeue';
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .Quick-Menu {
    width: 155px;
    height: 33px;
    margin: 52px 225px 35px 53px;
    font-family: 'HelveticaNeue';
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c0b0b;
  }
  
  .Rectangle-9 {
    width: 296px;
    /* height: 109px; */
    margin: 20px;
    padding: 41.3px 129.9px 39.7px 66.1px;
    border-radius: 24px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    position: relative;
    text-decoration: none;
  }

  .quick {
    display: flex;
  }

  .req {
    width: 938px;
    height: 447.5px;
    margin: 120.3px 16px 281.3px 19px;
    padding: 51.5px 44.5px 51.5px 43.5px;
    border-radius: 24px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
  }

  #request {
    width: 953px;
    height: 65px;
    /* margin: 22.5px 0 0; */
    padding: 16.7px 0 16.7px 2px;
    border-radius: 8px;
    border: solid 1px #707070;
    background-color: #fff;
    font-size:x-large;
  }

  .text1 {
    width: 318px;
    height: 31px;
    margin: 0 401.6px 22.5px 3.4px;
    font-family: 'HelveticaNeue';
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .text2 {
    width: 132px;
    height: 31px;
    margin: 25px 592px 13px 0;
    font-family: 'HelveticaNeue';
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  #isian1 {
    width: 946px;
    height: 57px;
    margin: 0 0 55px 1px;
    border-radius: 8px;
    border: solid 1px #707070;
    background-color: #fff;
  }

  .tombol1 {
    width: 374px;
    height: 50px;
    margin: 54px 174.1px 0 275.9px;
    padding: 11px 138px 11px 147px;
    border-radius: 8px;
    background-color: #faaf16;
    text-decoration: none;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    font-weight: 500;
  }

  .pilihan1 {
    font-family: 'HelveticaNeue';
    font-size: 28px;
    border: solid 1px #707070;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:#545045;
  }

  .kantong {
    margin-right: 60px;
    padding-right: 30px;
  }
  
  .whatsapp {
    width: 50px;
    height: 50px;
  }

  .quickmenu1 {
    width: 120px;
    height: 23px;
    font-family: 'HelveticaNeue';
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
  }

  .mail {
    width: 50px;
    height: 50px;
  }

  .quickmenu2 {
    margin: 8px 5px 0 0;
    padding-left: 15px;
    font-family: 'HelveticaNeue';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #545045;
  }

  .orange-bar {
    width: 23px;
    height: 100%;
    background-color: #ea8d16;
    left: 0;
    top: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    position:absolute;
  }

.Bar {
  display: flex;
}

.quickmenu2 {
  width: 248px;
  height: 28px;
  margin: 10px;
  font-family: 'HelveticaNeue';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.59);
}

.text3 {
  width: 156px;
  height: 27px;
  margin: 0 566px 26.2px 0;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #545045;
}

.text4 {
  width: 69px;
  height: 22px;
  margin: 0 272px 12px 1px;
  font-family: 'HelveticaNeue';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.59);
}

#isian2 {
  width: 342px;
  height: 46px;
  margin: 12px 0 0;
  border-radius: 8px;
  border: solid 3px #776c61;
  background-color: #fff;
}

.tombol2 {
  width: 315px;
  height: 50px;
  margin: 35px 5px 0 5px;
  padding: 11px 5px 11px 5px;
  border-radius: 8px;
  background-color: #faaf16;
  font-family: 'HelveticaNeue';
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c0b0b;
  text-decoration: none;
  position: relative;
}

.text5 {
  width: 145px;
  height: 46px;
  margin: 12px 20px 0 0;
  padding: 11px 14px 11px 16px;
  border-radius: 8px;
  border: solid 3px #776c61;
  background-color: #fff;
  font-family: 'HelveticaNeue';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.59);
}

.text6 {
  width: 12px;
  height: 35px;
  margin: 12px 21px 11px 20px;
  font-family: 'HelveticaNeue';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c0b0b;
}

/* .question {
  width: 876px;
  height: 367px;
  padding: 22px 30.6px 21px 28px;
  border: solid 1px #707070;
  background-color: rgba(121, 108, 96, 0.07);
  margin: 0 794.4px 0 0;
  font-family: 'HelveticaNeue';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #545045;
} */

.accordion-info {
  top: 0;
  margin-bottom: 15px;
}

.accordion-button1 {
  width: 1100px;
  height: 67px;
  margin: 0 0 1px;
  padding: 12px 30.6px 15px 28px;
  border: solid 1px #707070;
  background-color: rgba(121, 108, 96, 0.07);
}

.req1 {
  width: 938px;
  height: 483px;
  margin: 89px 16px 281.3px 19px;
  padding: 21px 44.5px 51.5px 43.5px;
  border-radius: 24px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  position: relative;
}
